@use "./partials/variables" as *;
@import '@fontsource/ubuntu';
@import "bootstrap/scss/bootstrap.scss";

img {
    max-width: 100%;
}

body {
    font-family: $font;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.ms_h1 {
    font-size: 3.5rem;
}

.ms_color_green {
    color: $colorJungleGreen;
}

.ms_color_violet {
    color: $colorMulledWine;
}

.ms_bg_green {
    background-color: $colorJungleGreen;
}

.ms_bg_violet {
    background-color: $colorMulledWine;
}

// .ms_bg_gallery {
//     background-color: $colorGallery;
// }

.ms_color_grey {
    color: $colorGallery;
}

.ms_button {
    background-color: $colorJungleGreen;
    padding: 1rem 2.5rem;

    &:hover {
        background-color: $colorMulledWine;
    }
}