$font: 'Poppins', sans-serif;
$colorMulledWine: #513e5e;
$colorGallery: #f0efef;
$colorJungleGreen: #22ad96;
$colorNumbersSection: #faf8f6;
$colorLightGrey: #e9e6e3;
$colorMediumGrey: #dedbd9;
$colorCourses: #f7f7f7;
$colorEventCard: #f8f8f8;
$colorShape: #ece8e4;
$colorSpanShape: #ecc5ab;